/* Общие стили */
body {
  margin:0;
  padding:0;
  font-family:'Garamond', serif;
}

.page {
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

/* Кнопки навигации */
.nav-button {
  position:absolute;
  right:20px;
  top:50%;
  transform:translateY(-50%);
  padding:10px20px;
  font-size:18px;
}

/* Для страницы с изображением */
.image-frame {
  text-align:center;
}
.scroll-text {
  overflow-y:auto;
  max-height:50%;
}

/* Для ползунка настройки цвета */
#bgColorRange {
 margin-top:10px;
 width:80%;
}